---
import { WIDTH_BTN_CTN, HEIGHT_BTN_CTN } from "@constants/worldMapConstants";
interface Props {
  x: number;
  y: number;
  text: string;
  href: string;
  widthBtn: number;
}
const { x, y, text, href, widthBtn } = Astro.props;
---

<g>
  <a href={href} class="btnContinent" data-widrth-btn={widthBtn}>
    <rect
      x={x}
      y={y}
      width={WIDTH_BTN_CTN}
      height={HEIGHT_BTN_CTN}
      fill="transparent"
      rx="40"
      ry="40"
      stroke="white"
      stroke-width="2"></rect>
    <text
      x={x + WIDTH_BTN_CTN / 2}
      y={y + HEIGHT_BTN_CTN / 2}
      text-anchor="middle"
      dominant-baseline="middle"
      fill="white"
      font-size="40"
    >
      {text}
    </text>
  </a>
</g>

<style>
  .btnContinent:hover {
    rect {
      fill: #3695be;
      stroke: #3695be;
    }
  }
  .btnContinent:active {
    fill: #215c76;
    stroke: #215c76;
  }
</style>
